<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
  <div class="page-header">
    <h1 class="pull-left">Torrents configuration</h1>
    <div id="form-torrent" class="hidden-xs pull-right">
      <form role="form" name="addTorrentForm" class="form-inline pull-right">
        <div class="form-group">
          <label for="addPattern" class="sr-only">Pattern to download</label>
          <input id="addPattern" type="text" name="addPattern" placeholder="Enter Pattern to download" size="60" ng-model="addTorrent.pattern" required="required" class="input-sm form-control" />
        </div>
        <button type="submit" ng-click="add()" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
      </form>
      <div class="clear"></div>
    </div>
  </div>
  <div id="table-torrent">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Pattern </th>
          <th>CurrentMonth</th>
          <th>Active</th>
          <th>State</th>
          <th>Last checked</th>
          <th>Details</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="torrent in torrents">
          <td class="text-left">
            <a href="#" editable-select="torrent.category" e-ng-options="s.value as s.text for s in categories">
            <span class="label label-default">    {{ showCategory($index) }}</span>
          </a>
          </td>
          <td>
            <a class="m_title" editable-text="torrent.pattern">{{ torrent.pattern || 'empty' }}</a>
          </td>
          <td class="text-left">
            <small class="text-muted"> <input type="checkbox" name="torrent.currentMonth" ng-model="torrent.currentMonth"/></small>
          </td>
          <td class="text-left">
            <a ng-if="!torrent.active" ng-click="torrent.active=true">
              <span class="label label-danger">Desac.</span>
            </a>
            <a ng-if="torrent.active" ng-click="torrent.active=false">
                        <span class="label label-success">{{torrent.active}}</span>
                      </a>
          </td>
          <td class="text-left">
            <span  ng-class="bpTorrentState(torrent.state)" class="label">{{torrent.state || 'Unknown'}}</span>
          </td>
          <td> <span>{{torrent.lastChecked | timeago }}</span></td>
          <td class="text-left text-muted">
            <small class="text-muted" >{{torrent.stateDetails || 'Unknown'}}</small>
          </td>
          <td>
            <a href="" class="btn btn-xs btn-primary" ng-click="update($index)"> <i class="glyphicon glyphicon-save"></i></a>
            <a href="/torrents" class="btn btn-xs btn-danger" ng-click="delete($index)"> <i class="glyphicon glyphicon-remove"></i></a>
            <a href="" ng-click="refreshOneTorrent(torrent)" class="btn btn-xs btn-default">Run</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
