<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
    <div class="loading-jarvis" ng-show="busy">
        <div class="loading-text">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
                Loading
            </div>
        </div>
    </div>
    <!-- Nav tabs -->
    <div id="table-tweet" class="col-lg-offset-2 col-lg-8 col-md-12" infinite-scroll="loadMoreTweets()">
        <div class="panel panel-default bootcards-media" ng-repeat="tweet in tweets | orderBy:'Cleantext'">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accArticles" href="#article-{{$index}}">
                <span class="pull-right text-primary"> #{{$index+1}}</span>
                <h4> {{tweet.Cleantext}}</h4>
            </div>
            <div class="panel-body">
            </div>
            <div ng-repeat="img in tweet.media">
                <img ng-src="{{img.media_url|| 'assets/images/noimagefound.jpg'}}" alt="" class="img-responsive center-block" style="padding-bottom:10px">
            </div>
            <div id="article-{{$index}}" class="panel-collapse collapse">
                <div class="list-group">
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-user pull-left"></i>
                        <label>Name</label>
                        <div class="list-group-item-heading  text-info"> {{tweet.screen_name}}</div>
                    </div>
                    <div class="list-group-item" ng-if="tweet.hashtags.length > 0">
                        <i class="fa fa-2x fa-twitter pull-left"></i>
                        <label>Hastag</label>
                        <div class="list-group-item-heading text-info">
                            <span ng-repeat="hashtag in tweet.hashtags">#{{hashtag.text}} </span>
                        </div>
                    </div>
                    <div class="list-group-item" ng-if="tweet.urls.length > 0">
                        <i class="fa fa-2x fa-external-link pull-left"></i>
                        <label>Urls</label>
                        <div class="list-group-item-heading text-info">
                            <a href="{{url.url}}" target="_blank" ng-repeat="url in tweet.urls">{{url.url}} </a>
                        </div>
                    </div>
                    <div class="list-group-item" ng-if="tweet.user_mentions.length > 0">
                        <i class="fa fa-2x fa-external-link pull-left"></i>
                        <label>Mentions</label>
                        <div class="list-group-item-heading text-info">
                            <a href="{{url.url}}" target="_blank" ng-repeat="url in tweet.user_mentions">{{url.screen_name}} </a>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-twitter-square pull-left"></i>
                        <label>Account</label>
                        <div class="list-group-item-heading text-info">
                            {{tweet.account}}
                        </div>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-2x fa-cog pull-left"></i>
                        <label>Rule</label>
                        <div class="list-group-item-heading text-info">
                            {{tweet.rule.name}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <small class="pull-left"></small>
                    <small class="pull-right">  {{tweet.date}}  <span class="flag-icon" ng-class="{'flag-icon-us':tweet.lang.substr(0,2)==='en','flag-icon-fr':tweet.lang.substr(0,2)==='fr'}"></span></small>
                </div>
            </div>
        </div>
    </div>
</div>
