<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
    <div class="page-header">
        <h1 class="pull-left">Tweets & Users</h1>
    </div>
    <div id="table-user">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th> </th>
                    <th>Name <small class="text-muted" style="font-weight:normal"> <input type="checkbox" name="showDetails" ng-model="showDetails" /> Details</small></th>
                    <th ng-if="showDetails">Description </th>
                    <th ng-if="showDetails">Lang </th>
                    <th ng-if="showDetails">Followers </th>
                    <th ng-if="showDetails">Following </th>
                    <th>willSTOPHE</th>
                    <th>leadbywill</th>
                    <th>geekbywill</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in tweeteurs">
                    <td class="text-left text-primary"> {{$index+1}}</td>
                    <td><img ng-src="{{user.profile_image_url || 'assets/images/noimagefound.jpg'}}" alt="" style="width:35px"> </td>
                    <td>
                        <a href=""><b class="text-left text-primary">{{user.screen_name}}</b></a>
                        <br><span class="text-left text-muted">{{user.name}} </span>
                    </td>
                    <td class="text-left text-muted" ng-if="showDetails"> {{user.description}} </td>
                    <td class="text-left text-muted" ng-if="showDetails"> {{user.lang}} </td>
                    <td class="text-left text-muted" ng-if="showDetails"> {{user.followers_count}} </td>
                    <td class="text-left text-muted" ng-if="showDetails"> {{user.friends_count}} </td>
                    <td class="text-left text-primary"> {{user.willSTOPHE}}</td>
                    <td class="text-left text-primary"> {{user.leadbywill}}</td>
                    <td class="text-left text-primary"> {{user.geekbywill}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
