<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">
    <div class="page-header">
        <header class="hero-unit" id="banner">
            <div class="container">
                <div class="pull-left" style="width:30%">
                    <img src="assets/images/OctoBot.png" style="width:150px">
                </div>
                <div class="pull-left">
                    <h1>Jarvis <span style="font-weight:bold;color:#2D5AAD;text-shadow: 2px 2px 1px #333;">OctoBot</span></h1>
                    <p class="lead ">Find, store and share information</p>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <h3 class="fullTitle">Pro</h3>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                    <li><a href="/{{thing.url}}/Pro" tooltip="{{thing.info}}"><i class="{{thing.icon}}" style="padding-right:5px"></i> {{thing.name}} <span class="badge badge-default pull-right" ng-class="{'badge-success':thing.available.pro > 0}">{{thing.available.pro}}</span></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-6">
                <h3 class="fullTitle">Perso</h3>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                    <li><a href="/{{thing.url}}/Perso" tooltip="{{thing.info}}"><i class="{{thing.icon}}" style="padding-right:5px"></i> {{thing.name}} <span class="badge badge-default pull-right" ng-class="{'badge-success':thing.available.perso > 0}">{{thing.available.perso}}</span></a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="col-xs-12 col-lg-12">
            <h3>Last Log</h3>
            <ul ng-repeat="log in logs">
                <li>
                    <span ng-if="log.actor === 'Event'"> <i class="text-primary glyphicon  glyphicon-ok" style="padding-right:5px"></i></span>
                    <span ng-if="log.actor !== 'Event'"> <i class="text-danger glyphicon glyphicon-warning-sign" style="padding-right:5px"></i></span>
                    <span>{{log.date | date:'MMM d, y HH:mm'}} </span>
                    <span tooltip="{{log.origin}}" style="font-weight:bold"> {{log.action}} </span> {{log.label}}
                </li>
            </ul>
        </div>
        <!--         <form class="thing-form">
    <label>Add New Focus</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new focus here." ng-model="newThing">
        <span class="input-group-btn">
<button type="submit" class="btn btn-primary" ng-click="addThing()">Add</button>
      </span>
    </p>
</form> -->
    </div>
</div>
